* {
  font-family: "Ubuntu", sans-serif;
}
#heading,
#subHeading,
#startBtn {
  margin-top: 200px;
}
.highscore {
  text-decoration: none;
  font-size: 20px;
}
#heading {
  font-size: 50px;
  text-align: center;
}
#subHeading {
  font-size: 25px;
  overflow-wrap: break-word;
  inline-size: 700px;
  margin: 0 auto;
  padding-bottom: 30px;
  text-align: center;
}
#startBtn,
.button,
#clear {
  background-color: blueviolet;
  color: white;
  border-radius: 5px;
  padding: 15px;
  font-size: 20px;
  margin: 0 auto;
  display: block;
}
#startBtn:hover,
.button:hover {
  background-color: rgb(238, 98, 238);
  transition: all 150ms ease-in-out;
}

.hide {
  display: none;
}
.show {
  display: block;
}
#questions {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
}
#questionTitle {
  margin-top: -80px;
  text-align: center;
  margin-left: 50px;
  margin-bottom: 100px;
}
.options {
  background-color: blueviolet;

  font-size: 50px;
  border-radius: 5px;
  display: block;
  margin-left: 400px;
  padding-right: 100px;
  margin-top: 30px;
  width: 50%;
  text-align: left;
}
#submit {
  background-color: blueviolet;

  font-size: 50px;
  border-radius: 5px;
  display: block;
  margin-left: 400px;
  padding-right: 100px;
  margin-top: 30px;
  width: 50.5%;
  text-align: left;
  margin-bottom: 30px;
}
.options:hover,
#submit:hover,
#clear:hover {
  background-color: rgb(238, 98, 238);
  transition: all 150ms ease-in-out;
}
#initals {
  font-size: 50px;
  margin-left: 400px;
  width: 50%;
}
#leaderboard {
  font-size: 90px;
  text-align: center;
}
#highscores {
  text-align: center;
  font-size: 60px;
}
#homepage {
  text-align: center;
  font-size: 20px;
}

#clear {
  margin-top: 300px;
  display: none;
}

li {
  list-style: none;
}
@media screen and (min-width: 320px) and (max-width: 767px) {
  #subHeading {
    overflow-wrap: break-word;
    inline-size: 600px;
  }
  #questionTitle {
    text-align: left;
  }
  .options {
    margin-left: 50px;
    padding-right: 20px;
  }
  #initals,
  #submit {
    margin-left: 150px;
  }
}
