:root {
  --font-style: "Ubuntu", sans-serif;
}
* {
  font-family: var(--font-style);
}
#header,
#subHeading,
#startBtn {
  margin-top: 200px;
}
.highscore {
  text-decoration: none;
  font-size: 20px;
}
#header {
  font-size: 20px;
  text-align: center;
}
#subHeading {
  font-size: 25px;
  overflow-wrap: break-word;
  inline-size: 700px;
  margin: 0 auto;
  padding-bottom: 30px;
  text-align: center;
}
#startBtn,
.button {
  background-color: blueviolet;
  color: white;
  border-radius: 5px;
  padding: 15px;
  font-size: 20px;
  margin: 0 auto;
  display: block;
}
#startBtn:hover,
.button:hover {
  background-color: rgb(238, 98, 238);
  transition: all 150ms ease-in-out;
}

.hide {
  display: none;
}
.show {
  display: block;
}
#questions {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  font-family: var(--font-style);
}
#questionTitle {
  margin-top: -80px;
  text-align: left;
  margin-left: 50px ;
  margin-bottom: 100px;
}
.options {
  background-color: blueviolet;
  font-family: var(--font-style);
  font-size: 50px;
  border-radius: 5px;
  display: block;
  margin-left: 400px;
  padding-right: 100px;
  margin-top: 30px;
  width: 50%;
  text-align: left;
}
.options:hover {
  background-color: rgb(238, 98, 238);
  transition: all 150ms ease-in-out;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  #subHeading {
    overflow-wrap: break-word;
    inline-size: 600px;
  }
}
